html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: aquamarine;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}
.title {
  font-size: 4.4rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form {
  text-align: center;
  display: grid;
}
.label {
  font-size: 3.3rem;
  font-family: "Times New Roman", Times, serif;
  margin: 1.2rem;
}
.input {
  margin: 1.2rem;
  font-size: 2.5rem;
  padding: 1rem;
  line-height: 2.8rem;
  border-radius: 15px;
  border: 1px solid #333;
}
.button {
  padding: 1.2rem 1.2rem;
  background-color: rgba(0, 0, 0, 0.65);
  color: aliceblue;
  font-size: 1.7rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  cursor: pointer;
}
.card-list {
  margin: 1rem;
}
.card {
  padding: 2rem 4rem;
  margin: 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  background-color: aliceblue;
}
.card--title {
  margin-bottom: 0.5rem;
  font-size: 3.2rem;
}
.poster {
  margin: 0 auto;
  display: block;
}
